{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<!-- stella-orre/about.html  30 Nov 2019 03:45:56 GMT -->
<head>
<meta charset="utf-8">
{% if title %}
    <title> {{ title }}</title>
{% else %}
    <title>RCCG </title>
{% endif%}
<!-- Stylesheets -->
<link href="{% static 'pages/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
<link href="{% static 'pages/css/responsive.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'pages/images/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'pages/images/favicon.png' %}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <header class="main-header header-style-one">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container clearfix">
                <div class="top-left clearfix">
                    {% for church_info in church_infos %}
                    <div class="text"><span class="icon flaticon-call-answer"></span> Get in touch with us : <a href="tel:{{ church_info.church_mobile }}" class="number">{{ church_info.church_mobile }}</a></div>
					{% endfor %}
                </div>
                <div class="top-right clearfix">
                    <!-- Info List -->
					<ul class="info-list">
                        <li><a href="{% url 'about'%}">Our Story</a></li>
                        <li><a href="{% url 'project'%}">Inspiration</a></li>
						<li class="quote"><a href="{% url 'contact'%}">Get Free Quote</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <!--Info-->
                    <div class="logo-outer">
                        <div class="logo"><a href="{% url 'home' %}"><img src="{% static 'home/images/tlogo.png' %}" alt="" title=""></a></div>
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler For Mobile--><div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-1"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li {% if request.resolver_match.url_name == 'home' %} class=" current dropdown" {% endif %}><a href="{% url 'home' %}">Home</a>
                                    </li>

									<li {% if request.resolver_match.url_name == 'about' %} class=" current dropdown" {% endif %}><a href="{% url 'about' %}">About us</a>
                                    </li>

                                    <li {% if request.resolver_match.url_name == 'project' %} class=" current dropdown" {% endif %}><a href="{% url 'project' %}">Projects</a>
                                    </li>

									<li {% if request.resolver_match.url_name == 'blog' %} class=" current dropdown" {% endif %}><a href="{% url 'blog' %}">Blog</a>
                                    </li>

									<li {% if request.resolver_match.url_name == 'onlinegiving' %} class=" current dropdown" {% endif %} ><a href="{% url 'onlinegiving' %}">Online Giving</a>
                                    </li>
                                    <li {% if request.resolver_match.url_name == 'contact' %} class=" current dropdown" {% endif %} ><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
						
						<!-- Outer Box -->
                        <div class="outer-box clearfix">
                            <div class="search-box-btn"><span class="icon flaticon-magnifying-glass-1"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

    	<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="{% url 'home' %}"><img src="{% static 'home/images/tlogo.png' %}" alt="" title=""></a></div>
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
				<!--Social Links-->
				<div class="social-links">
					<ul class="clearfix">
						<li><a href="#"><span class="fab fa-twitter"></span></a></li>
						<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
						<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
						<li><a href="#"><span class="fab fa-instagram"></span></a></li>
						<li><a href="#"><span class="fab fa-youtube"></span></a></li>
					</ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'pages/images/fin.png' %})">
    	<div class="auto-container">
        	{% if title %}
                <h2> {{ title }}</h2>
            {% endif %}
            <ul class="page-breadcrumb">
            	<li><a href="{% url 'home' %}">home</a></li>
                {% if the_title %}
                    <li>{{ the_title }}</li>
                {% endif %}
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- content Section -->
	{% block content %}{% endblock %}
	<!-- End content Section -->

	
	
	<!--Main Footer-->
    <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="{% url 'home' %}"><img src="{% static 'home/images/rlogo.png' %}" alt="" /></a>
                                    </div>
                                    <div class="text">Jesus Embassy is to reach non-believers in the city of Ibadan and beyond, to connect them with other christians, to help them grow in their faith, to challenge the growing believers to discover their ministry, and to honour God with their lives.</div>
                                    <ul class="social-icons">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                    </ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                	<h2>Quick links</h2>
									<div class="widget-content">
										<ul class="list">
                                        	<li><a href="{% url 'about' %}">About Jesus Throne</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="{% url 'blog' %}">Blog & Updates</a></li>
                                            <li><a href="{% url 'onlinegiving' %}">Online Giving</a></li>
                                        </ul>
                                    </div>
								</div>
							</div>
						
						</div>
					</div>
					
					<!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
									<h2>Contact Info</h2>
									<div class="widget-content">
										{% for church_info in church_infos %}
										<a href="tel:{{ church_info.church_mobile }}" class="contact-number">{{ church_info.church_mobile }}</a>
										{% endfor %}
										<ul>
											{% for church_info in church_infos %}
											<li>{{ church_info.church_address }}</li>
											<li>Email :<a href="mailto:{{ church_info.church_mail }}"> {{ church_info.church_mail }}</a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							
							<!--Footer Column-->
                            
						
						</div>
					</div>
					
				</div>
			</div>
			
			<!--Footer Bottom-->
            <div class="footer-bottom clearfix">
                <div class="pull-left">
					{% for church_info in church_infos %}
                    	<div class="copyright"><a href="">{{ church_info.church_name }}</a></div>
					{% endfor %}
					<p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> 
                </div>
                <div class="pull-right">
                    <p>powered by <a href="">swirloma</a>
                </div>
            </div>
			
		</div>
	</footer>
	
</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="{% url 'blog' %}">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Sunday service</a></li>
                <li><a href="#">Open Heavens</a></li>
                <li><a href="#">Digging Deep</a></li>
                <li><a href="#">Holy Ghost service</a></li>
                <li><a href="#">Faith Clinic                                                                                                                                                                                                                                                                                                    </a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<!--Scroll to top-->
<script src="{% static 'pages/js/jquery.js' %}"></script>
<script src="{% static 'pages/js/popper.min.js' %}"></script>
<script src="{% static 'pages/js/jquery-ui.js' %}"></script>
<script src="{% static 'pages/js/bootstrap.min.js' %}"></script>
<script src="{% static 'pages/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'pages/js/isotope.js' %}"></script>
<script src="{% static 'pages/js/owl.js' %}"></script>
<script src="{% static 'pages/js/wow.js' %}"></script>
<script src="{% static 'pages/js/appear.js' %}"></script>
<script src="{% static 'pages/js/mixitup.js' %}"></script>
<script src="{% static 'pages/js/scrollbar.js' %}"></script>
<script src="{% static 'pages/js/script.js' %}"></script>
</body>

</html>