{% extends 'blog/base.html' %}
{% block content %}
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side / Blog Classic -->
                <div class="content-side col-xl-9 col-lg-8 col-md-12 col-sm-12">
                	<div class="blog-classic padding-right">
		                
						<!-- News Block Three-->
						{% for blog in blogs %}
		                <div class="news-block-three">
		                    <div class="inner-box">
		                        <div class="image-box">
		                            <figure class="image"><a href=""><img src="{{ blog.blog_image.url }}" alt=""></a></figure>
		                            <span class="date">{{ blog.date_posted|date }}</span>
		                        </div>
		                        <div class="lower-content">
		                            <div class="post-meta">
		                            	<ul class="post-info clearfix">
			                                <li><a href="">By : {{ blog.author }}</a></li>
			                                <li><a href="">{{ blog.blog_category}}</a></li>
			                                <li><a href="">Comments: </a></li>
			                            </ul>
			                        </div>
		                            <h3><a href="">{{ blog.blog_title }}</a></h3>
		                            <div class="text">{{ blog.blog_description|slice:":300" }}......</div>
			                        <div class="link-box"><a href="{% url 'blog-detail' blog.id %}" class="theme-btn read-more">Read more</a></div>
		                        </div>
		                    </div>
		                </div>
						{% endfor %}

		               

		               
						
					</div>
					
					<!--Styled Pagination-->
					<ul class="styled-pagination">
						{% if is_paginated %}
							{% if page_obj.has_previous %}
								<a class="btn btn-outlinr-info mb-4" href="?page=1">First</a>
								<a class="btn btn-outlinr-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
							{% endif %}

							{% for num in page_obj.paginator.page_range %}
								{% if page_obj.number == num %}
									<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
								{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
									<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
								{% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
								<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
								<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
							{% endif %}
						{% endif %}
						<!--<li><a href="#" class="active">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#"><span class="fa fa-angle-right"></span></a></li>-->
					</ul>                
					<!--End Styled Pagination-->
					
				</div>

				<!--Sidebar Side-->
				<div class="sidebar-side col-xl-3 col-lg-4 col-md-12 col-sm-12">
					<aside class="sidebar">
						
						<!-- Search -->
						<div class="sidebar-widget search-box">
							<form method="" action="">
								{% csrf_token %}
								<div class="form-group">
									<input type="search" name="search-field" value="" placeholder="Enter Search Keywords" required>
									<button type="submit"><span class="icon fa fa-search"></span></button>
								</div>
							</form>
						</div>
						
						<!--Blog Category Widget-->
						<div class="sidebar-widget sidebar-blog-category">
							<div class="sidebar-title">
								<h2>Categories</h2>
							</div>
							<ul class="cat-list">
								{% for blog in blogs|slice:":6" %}
									<li><a href="#">{{ blog.blog_category}}</a></li>
								{% endfor %}
								
							</ul>
						</div>
						
						<!-- Popular Posts -->
						<div class="sidebar-widget popular-posts">
							<div class="sidebar-title"><h2>Recent Updates</h2></div>
			
							{% for blog in blogs|slice:":5" %}
							<article class="post">
								<figure class="post-thumb"><a href=""><img src="{{ blog.blog_image.url }}" alt=""></a></figure>
								<div class="text"><a href="blog-detail.html">{{ blog.blog_description|slice:":50" }}...</a></div>
								<div class="post-info">{{ blog.date_posted|date }}</div>
							</article>
							{% endfor %}
			
						</div>
						
						<!-- Popular Tags -->
						<div class="sidebar-widget popular-tags">
							<div class="sidebar-title"><h2>Tags</h2></div>
							<a href="#">Open Heavens</a>
							<a href="#">Digging Deep</a>
							<a href="#">Sunday School Manual</a>
							<a href="#">Faith Clinic</a>
							<a href="#">House Fellowship</a>
							<a href="#">Sunday Sermon</a>
						</div>
						
					</aside>
				</div>
				
			</div>
		</div>
	</div>
				
				
{% endblock content %}